In [104]:
# WAS to swap two values with atemp variable

x='haii'
y='byee'
temp=x
x=y
y=temp
x

'byee'

In [1]:
# statement to print hello world
print('HELLO WORLD')

HELLO WORLD

In [2]:
# print without using print
s='HELLO WORLD'
s

'HELLO WORLD'

In [3]:
# initialize variable and value as 50
a=50
a

50

In [4]:
# initialize multi variable values are 150,120,250
a,b,c=150,120,250
a,b,c

(150, 120, 250)

In [5]:
# print the type of data
a={10,20}
type(a)

set

In [105]:
#WAS to swap the two values without using temp variable

m=50
n=90
m,n=n,m
m

90

In [106]:
# WAS to convert single value to multivalue datatype
# i/p a=10
#o/p b=['1''0']

a=10
list(str(10))

['1', '0']

In [107]:
# WAS to concat the two multi data types 
#str
x='hello'
x+='world'
x

'helloworld'

In [108]:
# list
y=[10,20,30]
y+=[40.50]
y

[10, 20, 30, 40.5]

In [109]:
#tuple
u=(90,20,30,50)
u+=(45,78)
u

(90, 20, 30, 50, 45, 78)

In [110]:
# concat the new character in the middle of the string

s='jyokaouku'
s[0:3]+'thi'+ s[3:9]

'jyothikaouku'

In [111]:
# modify the new string in the middle of the string

s='pyspiders'
s[0:len(s)//2]+'I'+s[len(s)//2+1:]

'pyspIders'

In [112]:
# replace old character with new character

s='pyspiders'
s[:-4]+'D' + s[-3:]

'pyspiDers'

In [113]:
# delete the sequence of characters
s='jyothika'
s[0:3]+s[5:8]

'jyoika'

In [114]:
#  delete the specific character
s='honey' 
s[0:2]+s[3:5]

'hoey'

In [115]:
# concat the new string into the specific position

s='haii how are you' 
s[0:5]+ 'byee' + s[4:16]

'haii byee how are you'

In [116]:
# length of the collection

s='jyothika' 
len(s)

8

In [117]:
# concat new value at the starting of the list

s=[10,20,30,40,50]
s[0:0]=[80,90]
s

[80, 90, 10, 20, 30, 40, 50]

In [118]:
# concat at the ending of the list
s=[10,20,30,60]
s[3:]=[70,50]
id(s)

1965234235392

In [119]:
# concat new value at the middle of the list
# even list
s=[10,2,30,40]
s[len(s)//2: len(s)//2]=['haii','byee']
s

[10, 2, 'haii', 'byee', 30, 40]

In [120]:
# concat the new character into the specific position

s= [10,20,30,50]
s[3]= 85
s

[10, 20, 30, 85]

In [121]:
# modify the new value into the specific position of given list
s= [10,20,30,50]
s[3]= 85
s

[10, 20, 30, 85]

In [122]:
# modify the new value at the starting of the lit

s=[10,'haii',15.05,{'15':250},750]
s[3]='jyothika' 
s

[10, 'haii', 15.05, 'jyothika', 750]

In [123]:
# modify the new value at the ending of the lit

s=[10,'haii',15.05,{'15':250},750]
s[4]='cute' 
s

[10, 'haii', 15.05, {'15': 250}, 'cute']

In [124]:
#  modify the new value at the middle of the lit
s=[10,'haii',15.05,{'15':250},750]
s[4]='cute' 
s[len(s)//2]='jyothika' 
s

[10, 'haii', 'jyothika', {'15': 250}, 'cute']

In [125]:
# modify the first 4 positions in the given list
s=[10,20,30,50,60,78,90]
s[0:5]=['k','jyo','is', 'cute']
s

['k', 'jyo', 'is', 'cute', 78, 90]

In [126]:
# modify the sequence of values in the given list
s=['a','b','c',20,30,40,50,90,80]
s[2::2]=['jyothika','is','cute',95]
s

['a', 'b', 'jyothika', 20, 'is', 40, 'cute', 90, 95]

In [127]:
# del the value in specific position
s=[10,20,30,40,50]
del s[4]
s

[10, 20, 30, 40]

In [128]:
# del the value at the ending of the list
s=[10,20,30,40,50,60,80]
len(s)
del s[6]
s

[10, 20, 30, 40, 50, 60]

In [129]:
# del the value at the starting of list
s=[10,20,30,40,50,60,80]
del s[0]
s

[20, 30, 40, 50, 60, 80]

In [130]:
# del the value at the middle of list
s=[10,20,30,40,50,60,80]
del s[len(s)//2]
s

[10, 20, 30, 50, 60, 80]

In [131]:
# concat at the starting of tuple
s=(10,20,30,40,50)
s+=(90,)
s

(10, 20, 30, 40, 50, 90)

In [132]:
# concat at the middle of tuple
s=(10,20,30,40,50)

In [133]:
# # concat at the ending of tuple
s=(10,20,30,40,50)
p= s[0:5]+('a','b')
p

(10, 20, 30, 40, 50, 'a', 'b')

In [134]:
# modify the sequence of values in tuple
s=(10,20,30,40,50)
p=s[0:2]+s[4:]+('a','b')
p

(10, 20, 50, 'a', 'b')

In [135]:
# delete the sequence of values in tuple 
s=(10,20,30,40,50)
s[0:2]+s[4:6]

(10, 20, 50)

In [136]:
 #concat at the new value at set

s={10,20,30,40,50}
s|={50,90,70}
s

{10, 20, 30, 40, 50, 70, 90}

In [137]:
#delete the value at set
s={10,20,30,40,50}
p={50,90,70}
h=s-p
h

{10, 20, 30, 40}

In [138]:
#concat new key and value to the dict
s={'k1':500,'k2':520}
s

{'k1': 500, 'k2': 520}

In [139]:
#delete specific key and value in the dict
s={'k1':500,'k2':520}
del s['k1']
s

{'k2': 520}

In [140]:
# was to delete the set value
s={10,20,30,40,50}
s-={30,40,89}
s

{10, 20, 50}

In [141]:
#modify specific value in the dict
s={'k1':500,'k2':520}
s['k1']='jyothika' 
s

{'k1': 'jyothika', 'k2': 520}

In [142]:
# concat list list and tuple using typecasting
s=[10,20,30]
t=(40,50,60)
t+tuple(s)

(40, 50, 60, 10, 20, 30)

In [143]:
# concat  list and tuple without type casting 

s=[10,20,30]
t=(40,50,60)
s+=t
s

[10, 20, 30, 40, 50, 60]

In [144]:
# check given are divisible by 3
n=10
n%3==0

False

In [145]:
#WAE to check the given number is divisible by 2 and 6
n=9
print(n%2==0 and n%6==0)

False

In [146]:
#WAE to extract the last digit in given integer number
n=9867
res=n%10

In [147]:
#WAE to check the last digit is divisible by 3 from given integer number without type casting
n=12347
print((n%10)%3==0)

False

In [148]:
#WAE to check the last digit is divisible by 3 from given integer number with type casting
n=2023
print((int(str(n)[-1]))%3==0)

True

In [149]:
#WAE to check the given number is greater than 150
n=45
print(n>150)

False

In [150]:
#WAE to check the given number is greater than or equal to 100
n=103
print(n>=100)

True

In [151]:
#WAE to check the given number is less than 150
n=45
print(n<150)

True

In [152]:
#WAE to check the given number is less than or equal to 100
n=32
print(n<=100)

True

In [153]:
#WAE to check the given number is greater than 15 and less than 24
n=30
print(n>15 and n<24)

False

In [154]:
#WAE to check the given number is even
n=45
print(n%2==0)

False

In [155]:
#WAE to check the given number is odd
n=45
print(n%2==1)

True

In [156]:
#WAE to check perform the replication of a given string with 6
s='ball'
res=s*6
res

'ballballballballballball'

In [157]:
#WAE to check the given number is divisible by 3 and also the number greater than 22
n=27
print(n%3==0 and n>22)

True

In [158]:
#WAE to check perform the length of the collection is even or not
s='milkshake'
print(len(s)%2==0)

False

In [159]:
#WAE to check perform the length of the collection is less than 55 and greater than 16
s='milkshake'
print(len(s)<55 and len(s)>16)

False

In [160]:
#WAE to check perform the length of the collection is divisible by 5 and odd
s='milkshake'
print(len(s)%5==0 and len(s)%2==1)

False

In [161]:
#WAE to check extract the middle position of a given collection
s='helllooo'
print(s[len(s)//2])

l

In [162]:
#WAE to check the given number is greater than 20 and less than 30 and it should be even
n=22
print(20<n<30 and n%2==0)

True

In [163]:
#WAE to check the given number is even and it should be less than 120
n=45
print(n%2==0 and n<120)

False

In [164]:
#WAE to check the given number is even and present from 40 to 70
n=23
print(n%2==0 and 40<=n and n<=70)

False

In [165]:
# check the given number is odd and should be greater than 97
n=43
print(n%2!=0 and n>97)

False

In [166]:
# check given number is between 48 and 122 and div by 4
n=55
print(n>48 and n<122 and n%4==0)

False

In [167]:
# check given number is divisible by either 3 or 5
n=45
print(n%3==0 or n%5==0)

True

In [168]:
# check given  umber is present between 100 and 200
n=35
print(100<=n and n<=200)

False

In [169]:

n=100
print(100<n and n<100)

False

In [170]:
# concat the value into the middle of tuple
x=(1,2,3,4,5)
x[0:len(x)//2]+ ('a',) +x[len(x)//2:]

(1, 2, 'a', 3, 4, 5)

In [171]:
# concat the value into the ending of the tuple
x=(1,2,3,4)
y=x+(5,6)
x
y

(1, 2, 3, 4, 5, 6)

In [172]:
# modify the sequence of values in given tuple
y=(1,2,3,4,5)
x=y[0:2]+y[4:]+('a','b')
x

(1, 2, 5, 'a', 'b')

In [173]:
# delete sequence of values in tuple
x=('h','e','l','l','o')
y=x[0:2]+x[3:]
y

('h', 'e', 'l', 'o')

In [174]:
# concat new value into set
s={1,2,3,4,5,6}
s=s|{10,20}
s

{1, 2, 3, 4, 5, 6, 10, 20}

In [175]:
# to check given string last character ascii value div by 5 or not
s='apple'
print(ord(s[-1])%5==0)

False

In [176]:
# check given number is present between 60 to 120 and the numbers should be divisible by 3 and 4 and last digit
n=129
print(60<=n<=120 and n%3==0 and n%4==0 and n%10>9)

False

In [177]:
# check the given number is even or less than 25
n=24
print(n%2==0 or n<25)

True

In [178]:
# check given number is even or greater than 25
n=25
print(n%2==0  or n>25)

False

In [179]:
#check the given is divisible by 3 or 5
n=25
print(n%3==0 or n%5==0)

True

In [180]:
#check the number is not an even number
n=25
print(n%2!=0)

True

In [181]:
#check the number is not an odd number
n=24
print(n%2==0)

True

In [182]:
#check the number is not divisible by 3
n=74
print(n%3!=0)

True

In [183]:
#check the number is not divisible by 3 and 5
n=78
print(n%3!=0 or n%5!=0)

True

In [184]:
# check the number is not divisible by 3 or 5
n=25
print(n%3!=0 or n%5!=0)

True

In [14]:
# check the given ascii value is div by 5
ch='a' 
print(ord(ch)%5!=0)

True

In [186]:
# find the ascii in given number
n=65
chr(n)

'A'

In [187]:
# ascii value in given character
ch='a'
ord(ch)

97

In [188]:
# chheck given character is upper case or not
ch='G'
'A'<=ch and ch<='Z'

True

In [189]:
# check given character is alphabet
ch='s'
len(ch)==1 and ('A'<=ch<='Z' or 'a'<=ch<='z')

True

In [190]:
#check the given character is ascii number
ch='S' 
'0'<=ch<='9'

False

In [13]:
# check given character is special character
ch='$'
print(not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))

True

In [4]:
# given character is  not upper case
ch='A'
print(not('A'<=ch<='Z'))

False

In [7]:
# given character should not be in lower acse
ch='s' 
print(not('a'<=ch<='z'))

False

In [9]:
# given character should not be an alphabet
ch= '$'
print(not('A'<=ch<='Z' or 'a'<=ch<='z'))

True

In [10]:
# program should not be an ascii number
ch='7'
print(not('0'<=ch<='9'))

False

In [12]:
# given character should not be a special character
ch='$' 
print('a'<=ch<='z' or 'A'<=ch<='Z' or '0'<=ch<='9' )

False

In [192]:
# check given character is vowel
ch='u'
ch in 'AEIOUaeiou'

True

In [193]:
# check given character is consonant
ch='B' 
ch not in 'AEIOUaeiou'

True

In [1]:
# was to convert upper case to lower case in agiven character
ch='A'
chr(ord(ch)+32)

'a'

In [2]:
#  was to convert lower case to upper case in a given character
ch='a'
chr(ord(ch)-32)

'A'

In [3]:
# extract previous character in the given character
ch='B'
chr(ord(ch)-1)

'A'

In [4]:
# extract next character in the given character
ch='B'
chr(ord(ch)+1)

'C'

In [5]:
# WAS to check the given character ABCD and the value is even as well as character should be lower case
ch='e'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z'

False

In [7]:
# WAS to check the given character ABCD and the value is odd as well as character should be lower case
ch='e'
len(ch)==1 and ord(ch)%2!=0 and 'a'<=ch<='z'

True

In [9]:
#was to chck given numbers is converted
n=57
'A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9'

True

In [10]:

n=65
chr(n) in 'AEIOUaeiou'

True

In [4]:
s='ABCD'
ord(s[0])==ord(s[1])-1

True

In [3]:

st='jklmn'
ord(st[0]) == ord(st[1])-1

True

In [24]:
# WAE to check the given character ASCII value is greater 25 or greater than 12
ch='0'
ord(ch)>25 or ord(ch)<12

True

In [31]:
# WAE to given number is increased by 1
ch= 10
ch+=1
ch

11

In [32]:
# WAE to given number is increased by 2
ch= 10
ch+=2
ch

12

In [33]:
# WAE to given number is decreased by 1
ch= 10
ch-=1
ch

9

In [34]:
# check the given is unique number
s=[10,20,30,40,50]
n=10
n in s

True

In [36]:
# wae to perform addition operation
a=10
b=20
a+=b
a

30

In [37]:
# to check given value is present in collection
n='j'
st='jyothika'
n in st

True

In [38]:
# check given value is integer or not
n=19
type(n)==int

True

In [39]:
# wae to check given value is string or not
n='jyothi'
type(n)==str

True

In [47]:
#WAE to check given is single value or not
c=b'1010'
type(c) in [int,float,complex,bytes,bool]

True

In [5]:
#WAE to check given is  not a single value 
c='pys'
type(c) not in [int,float,complex,bytes,bool]

True

In [6]:
# #WAE to check given is   a multivalue value  or not
c='pys'
type(c) not in [int,float,complex,bytes,bool]

True

In [10]:
# wae to check given is a immutable or not
p=45
type(p )in [int,float,str,bool,complex,tuple]

True

In [11]:
# WAE to check if a given value is divisible by 6 as well as that value present in the collection or not
n=12
print(n%6==0 and n in [1,2,12,4])

True

In [12]:
# bitwise and operation between 15 & 19
a=15
b=19
a&b

3

In [19]:
# bitwise or operation between 115 & 79

a=115
b=79
a|=b
a

127

In [20]:
# bitwise or operation between 56 & 22
a=56
b=22
a^b

46

In [21]:
# bitwise not operation between 15
n=15
~n

-16

In [22]:
#bitwise left shift with 32 and skipping value is 3
n=32
m=3
n<<m

256

In [23]:
#bitwise right shift with 25 and skipping value is 2
n=25
m=2
n>>m

6

In [25]:
# tofind out the output of the given condition
(10+20*60 and 10**3) or ({10,20} or not([15-16]))

1000

In [26]:
# wae to check given key is present in dict or not
d={'a':10,'b':20}
k='a'
print(k in d.keys())

True

In [27]:
 #WAE to check if a value is present in a dict or not
d={'a':10,'b':20}
k=10
print(k in d.values())

True

In [29]:
# wae to check if the key is  not present  in a dict or not
d={'a': 10,'b':20,'c':30,(100,):(10,20)}
k=10
k in d
k in d.values()

True

In [1]:
# wae to check if the key is  present  in a dict or not
d={'a': 10,'b':20,'c':30,(100,):(10,20)}
k=(100,)
k in d

True

In [31]:
# check if values are pointing to same element or not
a=15
b=15
a is b

True

In [32]:
# WAE to check  both the values should be integer and both the values are pointing to same address or not
a=300
b=300
print(type(a)==int and type(b)==int and a is b)

False